body {
    margin: 0;
    padding: 0;
}

#game-screen{
   display: block; 
}

#gameOver, #startScreen, #playHUD{
    position: absolute;
    visibility: hidden;
}



h1,h2, h3,h4, h5 {
    font-family: 'Indie Flower', cursive;
    color: red;
    text-align: center;
}

.title{
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton{
    border:2px solid white;
    border-radius: 20px;
}
#startButton{
    border:2px solid white;
    border-radius: 20px;
}

#restartButton:hover{
    background-color: greenyellow;
}
#startButton:hover{
    background-color: greenyellow;
}

#scoreboard {
    margin: 0px;
}